.header__lang-link {
    max-width: 68px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

.header__lang-link:first-of-type {
    margin-right: 18px;
}

@media all and (max-width:767px) {
    .header__lang-link {
        max-width: 62px;
        max-height: 20px;
        font-size: 18px;
        line-height: 20px;
    }
}