.places {
    max-width: 984px;
    margin: 92px auto 0 auto;
}

@media all and (max-width:927px) {
    .places {
        max-width: 928px;
    }
}

@media all and (max-width:742px) {
    .places {
        max-width: 320px;
        margin: 64px auto 64px auto;
    }
}
