.lead {
    max-width: 984px;
    margin: 56px auto 0 auto;
}

@media all and (max-width:1075px) {
    .lead {
        max-width: 928px;
    }
}

@media all and (max-width:927px) {
    .lead {
        max-width: 768px;
    }
}

@media all and (max-width:742px) {
    .lead {
        max-width: 320px;
        margin: 48px auto 0 auto;
    }
}
