.cover__subtitle {
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;
    margin-top: 32px;
    text-decoration: none;
}

@media all and (max-width:742px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        min-width: 288px;
        margin-top: 16px;
    }
}
