.header__logo {
    max-width: 176px;
    max-height: 52px;
    position: absolute;
    top: 28px;
    left: 0;
}

@media all and (max-width:767px) {
    .header__logo {
        max-width: 176px;
        max-height: 42px;
        top: 16px;
    }
}
