.header {
    position: relative;
    max-width: 1184px;
    max-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    padding-top: 28px;
}
