.place__paragraph {
    display: flex;
    flex-direction: column;
    max-width: 484px;
    max-height: 145px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    grid-row: 3/4;
    grid-column: 2;
    margin: 0;
}
