.footer__copyright {
    max-width: 186px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    text-align: right;
    color: #FFFFFF;
    margin: 0;
}

@media all and (max-width:767px) {
    .footer__copyright {
        line-height: 14px;
        margin-top: 32px;
        text-align: left;
    }
}