.place__link {
    max-width: 456px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-align: left;
    padding-top: 26px;
    /* padding-bottom: 106px; */
    margin: 0;
    grid-row: 2;
    grid-column: 2;
}

.place__link:hover {
    opacity: 0.8;
}