.cover__overlay {
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../../../images/cover-train.jpg);
    background-image: -o-linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../images/cover-train.jpg);
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../images/cover-train.jpg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1184px;
    height: 740px;
    background-size: cover;
    background-position: center;
}

.cover__overlay:hover {
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../../../images/cover-train.jpg);
    background-image: -o-linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../images/cover-train.jpg);
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../images/cover-train.jpg);
}

@media all and (max-width:1279px) {
    .cover__overlay {
        height: 640px;
    }
}

@media all and (max-width:1023px) {
    .cover__overlay {
        height: 480px;
    }
}
