.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 984px;
}

@media all and (max-width:1075px) {
    .lead__caption {
        max-width: 928px;
    }
}

@media all and (max-width:927px) {
    .lead__caption {
        max-width: 768px;
        margin-left: 24px;
    }
}

@media all and (max-width:742px) {
    .lead__caption {
        max-width: 320px;
        margin-left: 16px;
    }
}
