.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 30px;
}

@media all and (max-width:1023px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media all and (max-width:767px) {
    .lead__caption {
        padding-left: 16px;
    }
}