.place {
    display: -ms-grid;
    display: grid;
    grid-template-areas: "title website" "image paragraph";
    max-width: 984px;
    margin-top: 80px;
}

@media all and (max-width:1279px) {
    .place {
        max-width: 928px;
    }
}
