.footer {
    max-width: 1184px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 92px 48px 24px 48px;
}

@media all and (max-width:767px) {
    .footer {
        max-width: 186px;
        flex-direction: column;
        justify-content: left;
        margin: 64px 148px 24px 16px;
    }
}
